/* Imports */

/* Elements */

ul {
  list-style-type: none;
  background-color: #fff;
}

li {
  float: left;
	border-right:1px solid #bbb;
}


li a:hover:(.active) {
	background-color: #111;
}


/* Classes */

.active {
  background-color: #279af1;
}

/* ID */

#bold {
  font-style: bold;
}
