/* Imports */

/* Elements */

ul {
  list-style-type: none;
  background-color: #fff;
}

li {
  float: left;
	border-right: #000;
}

li:hover {
	background-color: #111;
}

/* Classes */

.active {
  background-color: #279af1;
}

/* ID */

#bold {
  font-style: bold;
}
